/*
Theme Name: fall
Description: fall, Artisteer-generated Drupal theme.
Version: 1.0
Author: Artisteer
Author URI: http://artisteer.com/
*/

/* begin Page */

/* Generated with Artisteer version 2.3.0.20075, file checksum is 4A0162C7. */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #F6DD9D;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}





#art-page-background-simple-gradient
{
	position: absolute;
	background-image: url('images/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width: 100%;
	height: 500px;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}


/* Image Assis module support */
body.img_assist
{
  background-color: #F6DD9D !important;
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:63px;
	min-height:63px;
}

.art-Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 6px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 82px;
	height: 82px;
	background-image: url('images/Sheet-s.png');
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 41px, 41px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 41px, 41px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(41px, 41px, auto, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(41px, auto, auto, 41px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 41px;
	right: 41px;
	height: 82px;
	background-image: url('images/Sheet-h.png');
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 41px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(41px, auto, auto, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 41px;
	bottom: 41px;
	width: 82px;
	background-image: url('images/Sheet-v.png');
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 41px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 41px, auto, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 41px;
	left: 41px;
	right: 41px;
	bottom: 41px;
	background-image: url('images/Sheet-c.png');
}


.art-Sheet
{
	margin-top: 30px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Header */
div.art-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 988px;
	height: 150px;
}

div.art-Header-png
{
	position: absolute;
	z-index:-2;
	top: 0;
	left: 0;
	width: 988px;
	height: 150px;
	background-image: url('images/Header.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div.art-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 988px;
	height: 150px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.art-Logo
{
	display : block;
	position: absolute;
	left: 10px;
	top: 38px;
	width: 967px;
}

h1.art-Logo-name
{
	display: block;
	text-align: center;
}

h1.art-Logo-name, h1.art-Logo-name a, h1.art-Logo-name a:link, h1.art-Logo-name a:visited, h1.art-Logo-name a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 39px;
text-decoration: none;
	padding:0;
	margin:0;
	color: #000000 !important;
}

.art-Logo-text
{
	display: block;
	text-align: center;
}

.art-Logo-text, .art-Logo-text a
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 21px;
	padding:0;
	margin:0;
	color: #0E0A01 !important;
}


div.art-Logo-image
{
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
width: 967px;
text-align: center;	
}

/* end Logo */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.art-menu, .art-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.art-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.art-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.art-menu li li
{
	float: none;
}

.art-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.art-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.art-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.art-menu:after, .art-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.art-menu, .art-menu ul
{
	min-height: 0;
}

.art-menu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}





div.art-nav-center
{
	position:relative;
	float:right; 
	right:50%;
	
}

ul.art-menu
{
	position:relative;
	float:left; 
	left:50%;
}

.firefox2 ul.art-menu
{
	float:none;
}


/* menu structure */

.art-menu
{
	padding: 0px 0px 0px 0px;
}

.art-nav
{
	position: relative;
	height: 28px;
	z-index: 100;
}

.art-nav .l, .art-nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 28px;
	background-image: url('images/nav.png');
}

.art-nav .l
{
	left: 0;
	right:0px;
}

.art-nav .r
{
	right: 0;
	width: 988px;
	clip: rect(auto, auto, auto, 988px);
}


/* end Menu */

/* begin MenuItem */
.art-menu ul li
{
	clear: both;
}

.art-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 28px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
}


.art-menu a .r, .art-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 84px;
	background-image: url('images/MenuItem.png');
}

.art-menu a .l
{
	left:0;
	right:0px;
}

.art-menu a .r
{
	width:400px;
	right:0;
	clip: rect(auto, auto, auto, 400px);
}

.art-menu a .t 
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
	color: #E1E1D6;
	padding: 0 22px;
	margin: 0 0px;
	line-height: 28px;
	text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
	top:-28px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
	top:-28px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
	top:-28px;
}
.art-menu a:hover .t
{
	color: #212118;
}

.art-menu li:hover a .t
{
	color: #212118;
}

.art-menu li:hover>a .t
{
	color: #212118;
}



/* end MenuItem */

/* begin MenuSubItem */
.art-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #FCF2DA;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

.art-menu ul ul a
{
	margin-left: auto;
}

.art-menu ul li a:hover
{
	color: #543E08;
	background-position: 0 -20px;
}

.art-menu ul li:hover>a
{
	color: #543E08;
	background-position: 0 -20px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
	color: #543E08;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
	color: #543E08;
}


/* end MenuSubItem */

/* begin ContentLayout */
.art-contentLayout
{
	position: relative;
	margin-bottom: 5px;
	width: 988px;
}
/* end ContentLayout */

/* begin Box, Block */
.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:27px;
	min-height:27px;
}

.art-Block-body
{
	position: relative;
	z-index: 1;
	padding: 3px;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	position:absolute;
	z-index:-1;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	width: 38px;
	height: 38px;
	background-image: url('images/Block-s.png');
}

.art-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 19px, 19px, auto);
}

.art-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 19px, 19px);
}

.art-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(19px, 19px, auto, auto);
}

.art-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(19px, auto, auto, 19px);
}

.art-Block-tc, .art-Block-bc
{
	left: 19px;
	right: 19px;
	height: 38px;
	background-image: url('images/Block-h.png');
}

.art-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 19px, auto);
}

.art-Block-bc
{
	bottom: 0;
	clip: rect(19px, auto, auto, auto);
}

.art-Block-cr, .art-Block-cl
{
	top: 19px;
	bottom: 19px;
	width: 38px;
	background-image: url('images/Block-v.png');
}

.art-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 19px);
}

.art-Block-cl
{
	left:0;
	clip: rect(auto, 19px, auto, auto);
}

.art-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 19px;
	left: 19px;
	right: 19px;
	bottom: 19px;
	background-color: #F0F0EA;
}


.art-Block
{
	margin: 10px;
}



#banner-1, #banner-2, #banner-3, #banner-4, #banner-5, #banner-6
{
	margin: 10px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 7px;
}

.art-BlockHeader .t
{
	height: 30px;
	color: #000000;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 15px;
text-align: center;
	white-space : nowrap;
	padding: 0 1px;
	line-height: 30px;	
}

.art-BlockHeader .l, .art-BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('images/BlockHeader.png');
}

.art-BlockHeader .l
{
	left:0;
	right:6px;
}

.art-BlockHeader .r
{ 
	width:988px;
	right:0;
	clip: rect(auto, auto, auto, 982px);
}






.art-BlockHeader .t h2.subject
{
	height: 30px;
	color: #000000;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 15px;
text-align: center;
	white-space : nowrap;
	padding: 0 1px;
	line-height: 30px;
	top: 0;
	margin-bottom: 0;
	margin-top: 0;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.art-BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 8px;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl, .art-BlockContent-tc, .art-BlockContent-bc,.art-BlockContent-cr, .art-BlockContent-cl
{
	position:absolute;
	z-index:-1;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl
{
	width: 14px;
	height: 14px;
	background-image: url('images/BlockContent-s.png');
}

.art-BlockContent-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.art-BlockContent-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.art-BlockContent-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.art-BlockContent-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.art-BlockContent-tc, .art-BlockContent-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('images/BlockContent-h.png');
}

.art-BlockContent-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.art-BlockContent-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.art-BlockContent-cr, .art-BlockContent-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('images/BlockContent-v.png');
}

.art-BlockContent-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.art-BlockContent-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.art-BlockContent-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #DFDFD3;
}


.art-BlockContent-body
{
	color:#5C5C42;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

.art-BlockContent-body a:link
{
	color: #8D530C;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	color: #94946B;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #595940;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #5C5C42;
	margin:0;
	padding:0;
}

.art-BlockContent-body li
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

.art-BlockContent-body ul li
{
	padding:0px 0 0px 11px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}



.art-BlockContent-body .calendar-calendar td a:visited, .art-BlockContent-body .calendar-calendar td a.visited
{
	color: #8D530C;
}

.art-BlockContent-body  .links li
{
	float: left;
	padding: 0 0 0 1em;
	background-image: none;
}

.art-BlockContent-body .calendar-calendar td a:hover
{
	text-decoration:underline;
}

.art-BlockContent-body table td.mini a
{
	font-weight:normal;
}

.art-BlockContent-body table td div.mini-day-on a 
{
	text-decoration:underline;
}

.art-BlockContent-body .calendar-calendar td a
{
	text-decoration:none;
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-Post-body
{
	position: relative;
	z-index: 1;
	padding: 15px;
}



.art-Post
{
	margin: 10px;
}

/* Start images */
a img
{
	border: 0;
}

.art-article img, img.art-article
{
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* Start tables */

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 1px #ABAB8C;
	vertical-align: top;
	text-align:left;
}

.art-article th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

/* Finish tables */

pre
{
	overflow: auto;
	padding: 0.1em;
}



fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: solid 1px #ABAB8C;
	width: 95%;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-PostHeader
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 26px;
	color: #26261C;
}

.art-PostHeader a, .art-PostHeader a:link, .art-PostHeader a:visited, .art-PostHeader a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 26px;
	margin:0;
	color: #26261C;
}

.art-PostHeader img
{
	border:none;
	vertical-align: middle;
	margin:0;
}
/* end PostHeaderIcon */

/* begin PostHeader */
.art-PostHeader a:link
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #3B3B2B;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #3B3B2B;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #BC6F10;
}
/* end PostHeader */

/* begin PostIcons */
.art-PostHeaderIcons
{
	padding:1px;
}

.art-PostHeaderIcons, .art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	color: #323224;
}

.art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
	margin:0;
}

.art-PostHeaderIcons a:link
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
	color: #8C680D;
}

.art-PostHeaderIcons a:visited, .art-PostHeaderIcons a.visited
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-decoration: none;
	color: #767656;
}

.art-PostHeaderIcons a:hover, .art-PostHeaderIcons a.hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-decoration: underline;
	color: #595940;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
  color: #26261C;
}


.art-PostContent p 
{
	margin: 0.5em 0;
}

.art-PostContent, .art-PostContent p
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #26261C;
}

.art-PostContent
{
  margin:0;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #8D530C;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #8D530C;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #3B3B2B;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #595940;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 35px;
  color: #595940;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 26px;
  color: #767656;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 21px;
  color: #767656;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 18px;
  color: #41412F;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 14px;
  color: #41412F;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 12px;
  color: #41412F;
}
/* Finish Content headings Fonts & Colors  */


/* Image Assis module support */
body.img_assist
{
  color: #26261C;
}

.art-PostContent .calendar-calendar ul li, .art-PostContent .calendar-calendar ol ul li,
.art-PostContent div.view div.views-admin-links ul li, .art-PostContent div.view div.views-admin-links ol ul li
{
	background-image: none;
	padding: 2px;
}

.date-heading h3
{
	text-align: center;
}

.art-PostContent ul.arttabs_primary li, .art-PostContent ul.arttabs_secondary li
{
	background-repeat: no-repeat;
	background-image: none;
}

/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #130E02;
	margin:1em 0 1em 2em;
	padding:0;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.art-Post li
{
	padding:0px 0 0px 16px;
	line-height:1.2em;
}

.art-Post ol li, .art-Post ul ol li
{
	background: none;
	padding-left:0;
}

.art-Post ul li, .art-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:16px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote,
blockquote p,
.art-PostContent blockquote p
{
	color:#12120D;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

blockquote,
.art-PostContent blockquote
{
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 27px;
	background-color:#E3E3D9;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */


blockquote, .art-PostContent blockquote
{
	margin:10px 10px 10px 50px !important;
	padding:5px 5px 5px 27px !important;
}

/* end PostQuote */

/* begin PostMetadata */
.art-PostMetadataFooter
{
	padding:1px;
	background-color: #E3E3D9;
}
/* end PostMetadata */

/* begin PostIcons */
.art-PostFooterIcons
{
	padding:1px;
}

.art-PostFooterIcons, .art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	color: #4D4D38;
}

.art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
	margin:0;
}

.art-PostFooterIcons a:link
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
	color: #8C680D;
}

.art-PostFooterIcons a:visited, .art-PostFooterIcons a.visited
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
	color: #8C680D;
}

.art-PostFooterIcons a:hover, .art-PostFooterIcons a.hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
	color: #595940;
}
/* end PostIcons */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:28px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 28px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 .art-button-wrapper
{
	display:block;
	float:left;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 28px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
	white-space: nowrap;
	text-align: left;
	padding: 0 10px !important;
	line-height: 28px;
	text-decoration: none !important;
	color: #000000 !important;
}

input, select
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #000000 !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #FCEFDE !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 84px;
	background-image: url('images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:10px;
}

.art-button-wrapper .r
{
	width:421px;
	right:0;
	clip: rect(auto, auto, auto, 411px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -28px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -56px;
}


/* end Button */

/* begin Footer */
.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 988px;
	margin: 5px auto 0px auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 20px;
	text-align: center;
}

.art-Footer .art-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 988px;
	height: 150px;
	bottom:0;
	left:0;
}


.art-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 30px;
	width: 19px;
    cursor: default;
}




.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#15150F;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #8D530C;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #3B3B2B;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #2F1C04;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#BB8B11;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#BDBDA3;
}
/* end PageFooter */

/* begin LayoutCell */
.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 246px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 493px;
}
.art-contentLayout .art-content-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 739px;
}
.art-contentLayout .art-content-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 739px;
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 985px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 246px;
}
/* end LayoutCell */



/*
** HTML elements
*/

body.art-body-nostyle
{
	background: none;
}



ul li, .item-list ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;	
}

.arttabs_primary, .arttabs_secondary, .links, .service-links img, service-links img
{
	padding-left: 0px;
	margin: 0px;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.arttabs_primary li a, ul.arttabs_secondary li a
{
	margin: 0 5px;
}

ul.links li
{
	display: inline;
	background-image: none;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form 
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left:0;
}

ul.menu li a.active
{
	font-weight: bold;
}

fieldset legend 
{
	/* Fix disappearing legend in FFox */
	display: block;
}

.breadcrumb 
{
	display: block; 
	padding-bottom: .7em;
}

.form-text, .form-textarea
{
	width: 95%;
	text-align: left;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background:#C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

.sticky-table
{
	width: 100%;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0px transparent;
	border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0px;
	text-align:left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.Footer .Footer-inner
{
	float: left;
	width: 100%;
}

.BlockContent
{
	width: 100% !important;	
}

/* Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}

/* ImageField module fix */
img.imagefield
{
	margin: 0;
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}