/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 41px 41px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 41px 41px);
}

.art-Sheet-bl
{
	clip: rect(41px 41px auto auto);
}

.art-Sheet-br
{
	clip: rect(41px auto auto 41px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 41px auto);
}

.art-Sheet-bc
{
	clip: rect(41px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 41px);
}

.art-Sheet-cl
{
	clip: rect(auto 41px auto auto);
}

.art-Sheet-body
{
	zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{
	clip: rect(auto auto auto 988px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 400px);
}
/* end MenuItem */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 19px 19px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 19px 19px);
}

.art-Block-bl
{
	clip: rect(19px 19px auto auto);
}

.art-Block-br
{
	clip: rect(19px auto auto 19px);
}

.art-Block-tc
{
	clip: rect(auto auto 19px auto);
}

.art-Block-bc
{
	clip: rect(19px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 19px);
}

.art-Block-cl
{
	clip: rect(auto 19px auto auto);
}

.art-Block-body
{
	zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader .r
{
	clip: rect(auto auto auto 982px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent-tl
{
	clip: rect(auto 7px 7px auto);
}

.art-BlockContent-tr
{
	clip: rect(auto auto 7px 7px);
}

.art-BlockContent-bl
{
	clip: rect(7px 7px auto auto);
}

.art-BlockContent-br
{
	clip: rect(7px auto auto 7px);
}

.art-BlockContent-tc
{
	clip: rect(auto auto 7px auto);
}

.art-BlockContent-bc
{
	clip: rect(7px auto auto auto);
}

.art-BlockContent-cr
{
	clip: rect(auto auto auto 7px);
}

.art-BlockContent-cl
{
	clip: rect(auto 7px auto auto);
}

.art-BlockContent-body
{
	zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.art-Post-body
{
	zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 411px);
}
/* end Button */

